# Practice 2

> 자료 구조

## 중복되지 않은 숫자의 합

> 같은 숫자가 한개 있거나 두개가 들어있는 리스트가 주어진다. 이러한 리스트에서 숫자가 한개만 있는 요소들의 합을 구하는 함수 `sum_of_repeat_number()`를 작성하시오.
>
> 예를 들어, `[4, 5, 7, 5, 4, 8]`는 7과 8이 한번만 나오기 때문에 두개를 더한 15가 결과값으로 도출된다.

---

예시)

```python
sum_of_repeat_number([4, 4, 7, 8, 10]) # => 25
```

In [14]:
def sum_of_repeat_number(numbers):
  ret = 0
  for i in numbers:
    if numbers.count(i) == 1:
      ret += i
  return ret

def sum_of_repeat_number1(numbers):
  ret = []
  for i in numbers:
    if i in ret:
      ret.remove(i)
    else:
      ret.append(i)
  return sum(ret)

In [15]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(sum_of_repeat_number([4, 4, 7, 8, 10]))
print(sum_of_repeat_number1([4, 4, 7, 8, 10]))

25
25

## 썩은 과일 찾기

> 과수원에 농부 한명이 썩은 과일이 몇개 들어있는 과일 봉지를 가지고 있다. (과일 봉지는 리스트를 의미한다.)
>
> 썩은 과일 조각들을 모두 신선한 것으로 교체하는 함수 `change_rotten_fruit()`를 작성하시오. 
>
> 예를 들어,
- `['apple', 'rottenBanana', 'apple']` 이라는 리스트가 주어진 경우, 대체된 리스트는 `['apple', 'banana', 'apple']` 이어야 한다. 
>
>
> **유의**
- 만약 리스트가 null/nil/None이거나 비어 있는 경우 빈 리스트를 반환한다.
- 반환된 리스트의 요소는 모두 소문자여야 한다.

---

예시)

```python
change_rotten_fruit(['apple', 'rottenBanana', 'apple']) 
#=> ['apple', 'banana', 'apple']

change_rotten_fruit(['rottenapple', 'rottenBanana', 'apple', 'rottenGrape']) 
#=> ['apple', 'banana', 'apple', 'grape']
```

In [33]:
def change_rotten_fruit(fruit_bag):
  for i, fruit in enumerate(fruit_bag):
    if 'rotten' in fruit:
      fruit_bag[i] = fruit[6:len(fruit)].lower()
  return fruit_bag

def change_rotten_fruit1(fruit_bag):
  new_bag = []
  for fruit in fruit_bag:
    if 'rotten' in fruit:
      new_fruit = fruit.replace("rotten","").lower()
      new_bag.append(new_fruit)
    else:
      new_bag.append(fruit)
  return new_bag

In [34]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(change_rotten_fruit(['apple', 'rottenBanana', 'apple'] ))
print(change_rotten_fruit(['rottenapple', 'rottenBanana', 'apple', 'rottenGrape']))
print(change_rotten_fruit1(['apple', 'rottenBanana', 'apple'] ))
print(change_rotten_fruit1(['rottenapple', 'rottenBanana', 'apple', 'rottenGrape']))

['apple', 'banana', 'apple']
['apple', 'banana', 'apple', 'grape']
['apple', 'banana', 'apple']
['apple', 'banana', 'apple', 'grape']